<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718521283351-n52eivghpqbnqt3krqp2hc7niqrjfpat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718521283351-n52eivghpqbnqt3krqp2hc7niqrjfpat</string>
	<key>API_KEY</key>
	<string>AIzaSyD0CbOQLyssjYtcT7tYzsFAc6WiXmdHT7k</string>
	<key>GCM_SENDER_ID</key>
	<string>718521283351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aait.PostApp</string>
	<key>PROJECT_ID</key>
	<string>postapp-e8da6</string>
	<key>STORAGE_BUCKET</key>
	<string>postapp-e8da6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718521283351:ios:68e48c49ff45671d</string>
	<key>DATABASE_URL</key>
	<string>https://postapp-e8da6.firebaseio.com</string>
</dict>
</plist>